@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to bottom, #dfef32 0%, #f58249 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* LAYOUT */
main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
}
h1 {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem;
  font-size: 50px;
  text-align: center;
  z-index: 5;
}
.question {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  font-size: 150px;
  background-color: white;
  text-align: center;
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 5;
}
.winner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  font-size: 60px;
  background-color: white;
  text-align: center;
  padding: 10rem 0rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 8;
}
.score {
  position: absolute;
  background-color: #060600;
  opacity: 1;
  border-radius: 9px;
  color: #fff;
  width: 15%;
  height: 100px;
  font-size: 50px;
  text-align: center;
  transition: all 0.75s;
  top: 35%;
  padding: 2rem;
}
#score--0 {
  left: 3rem;
}

#score--1 {
  right: 3rem;
}
.name {
  position: absolute;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  top: 25%;
  margin-bottom: 1rem;
}
#name--0 {
  left: 3rem;
}
#name--1 {
  right: 3rem;
}
.btn {
  position: absolute;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  width: 10%;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 0.7rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--a {
  top: 45rem;
  left: 8rem;
}
.btn--s {
  top: 45rem;
  left: 23rem;
}
.btn--d {
  top: 45rem;
  left: 38rem;
}
.btn--j {
  top: 45rem;
  right: 25rem;
}
.btn--k {
  top: 45rem;
  right: 10rem;
}
.btn--l {
  top: 45rem;
  right: -5rem;
}

.btn:active {
  transform: translate(-50%, 2px);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
}
.btn--new {
  top: 45rem;
  left: 42%;
}
.btn--retry {
  top: 45rem;
  left: 58%;
}
.rules {
  position: absolute;
  color: #fff;
  background-color: #2f2f2f;
  border-radius: 10px;
  padding: 5px;
  font-size: 11px;
  top: 2%;
}
.main {
  right: 1rem;
}
.controls {
  left: 1rem;
}
.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}
